<html>
    <body>
    <h1>
        <form method="POST" action="/contact">
        <%- include('header') -%>
        Welcome to contact page
        <br>

        Name:<input type="text" name="txt1"></br>
        Mobile no:<input type="text" name="txt2"></br>
    <input type="submit" value="submit" >
</form>
    </h1>
</body>
</html>